<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>401</title>
        <meta charset="utf-8">
        <link href="/styles/style_1.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Cambay&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <header>
            <img class="logo" src="/images/logo.png" alt="logo">
            <h1 class="h1-title">POST&PARCEL DELIVERY</h1>
        </header>
        <div class="main-container">
            <section>
                <h1>401!</h1>
                <p>
                    Nie posiadasz uprawnień do korzystania z tego zasobu. Zautoryzuj się w celu uzyskania dostępu!
                    <a href="https://localhost:8080/home/">Przejdź do strony głównej!</a>
                </p>
                <p>
                    <strong>Szczegóły błędu</strong>
                    {{error}}
                </p>
            </section>
        </div>
        <footer>
            <p class="footer-inline left">&copy; 2020 Paweł Skiba</p>
            <p class="footer-inline right">proudly powered by Vim</p>
        </footer>
    </body>
</html>
