<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/style_3.css">
    <script src="/static/scripts/script_courier_pickup_package.js"></script>

    <title>P&P DELIVERY</title>
  </head>
  <body>
      
    <nav class="navbar navbar-expand-lg navbar-light">       
        <a class="navbar-brand font-weight-bold text-decoration-none" href="https://localhost:8083/login/">
            <img src="/static/images/logo.png" alt="Logo" width="50px" height="50px" >
            KURIER
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ml-auto">
                <div class="container-fluid">
                    <hr>
                </div>
                <li class="nav-item font-weight-bold text-nowrap">
                    <a href="https://localhost:8083/packages/">MOJE PACZKI</a>
                </li>
                <div class="container-fluid">
                    <hr>
                </div>
                <li class="nav-item font-weight-bold text-nowrap">
                    <a href="https://localhost:8083/pickup_package/">ODBIÓR PACZEK</a>
                </li>
                <div class="container-fluid">
                    <hr>
                </div>
                <li class="nav-item font-weight-bold">
                    <a href="https://localhost:8083/logout/">WYLOGUJ</a>
                </li>
                <div class="container-fluid">
                    <hr>
                </div>
            </ul>
        </div>
    </nav>
    
    <div class="container">
      <h3 class="text-center font-weight-bold h3-head">Paczkomat</h3>
      <h4 class="text-center">Wprowadź numer paczkomatu</h4>
      <form id="get-token-form">
        <input type="text" id="parcel_locker_id" name="parcel_locker_id" class="form-control" placeholder="Numer paczkomatu" required>
        <button id="submit-button" class="btn btn-lg btn-secondary btn-block" type="submit">Pobierz kod</button>
      </form>
      <div id="alert-div-1">
      </div>
      <div class="container-fluid">
          <hr class="hr-border">
      </div>
      <h3 class="text-center font-weight-bold h3-head">Odbiór paczki</h4>
      <h4 class="text-center">Wprowadź numer paczki</h4>
      <form id="passon-package-form">
        <input type="text" id="package_id" name="package_id" class="form-control" placeholder="Numer paczki" required>
        <button id="submit-button" class="btn btn-lg btn-secondary btn-block" type="submit">Odbierz paczkę</button>
      </form>
      <div id="alert-div-2">
      </div>
      
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>