<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>P&P Delivery</title>
        <meta charset="utf-8">
        <link href="styles/style.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Cambay&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script src="scripts/script_index.js"></script>
    </head>
    <body>
        <header>
            <img class="logo" src="images/logo.png" alt="logo">
            <h1>POST&PARCEL DELIVERY</h1>
            <nav>
                <ul>
                    <li><a href="/">HOME</a></li>
		    <li><a href="/register">REGISTRATION</a></li>
                </ul>
            </nav>
        </header>
        <div class="mainContainer">
            <section>
                <h2>O nas</h2>
                <p>
                    Firma POST&PARCEL DELIVERY działa na rynku od 1996 roku, co sprawia, że jesteśmy firmą z ponad 20 letnim doświadczeniem. Każdego dnia nasi pracownicy
                    dbają o najwyższą jakość dostarczanych usług w celu zapewnienia jak najwyższego poziomu obsługi. Dzięki temu, każdy klient, który nam zaufał może mieć
                    pewność, że jego przesyłka zostanie obsłużona na najwyższym poziomie, a co najważniejsze - dotrze na czas. Na każdym etapie - pakowanie przesyłek,
                    sortowanie przesyłek, załadunek przesyłek oraz ich transport, dokładamy najwyższej staranności, aby przesyłka dotarła na czas w nienaruszonym stanie.
                    Ponadto nasza firma oferuje wiele ciekawych rozwiązań, które sprawiają, że nadawanie przesyłek może być również przyjemne. Do takich rozwiązań możemy
                    zaliczyć śledzenie przesyłek, otrzymywanie wiadomości SMS oraz e-mail w dniu dostawy, konkurencyjne ceny, ofertę promocyjną dla stałych klientów oraz
                    możliwość przekierowania przesyłki, nawet w dniu doręczenia! Te i inne oferowane przez nas usługi sprawiają, że oferta skierowana od nas dla Państwa
                    jest niezwykle wyjątkowa. Dołącz i Ty do grupy zadowolonych klientów i rozpocznij korzystanie z naszych usług już dziś.
                </p>
                <p>
                    Życzmy miłego dnia, Zespół P&P DELIVERY
                </p>
            </section>
            <section>
                <h2>Oferta</h2>
                <p>
                    Podczas przygotowywania oferty zadbaliśmy o wszystkich naszych klientów proponując dwie możliwości - jednorazowe skorzystanie z naszych usług oraz dłuższą
                    współpracę, którą niezwykle sobie cenimy. W tym celu przedstawiamy Państwu poniższy cennik oraz dostępne abonamenty, które zostały przygotowane z myślą o Was. Warto 
                    zaznaczyć, że zapewniamy dostarczenie paczki w ciągu 2-3 dni roboczych, a każda z paczek jest bezpłatnie ubezpieczona na kwotę 5000 PLN.                
                </p>
                <table class="color-table">
                    <caption><h3>Cennik & Abonament</h3></caption>
                    <thead class = "thead_table">
                        <tr>
                            <td>Usługa</td>
                            <td>Cena</td>
                        </tr>
                    </thead>
                    <tbody class="tbody_packages">
                        <tr id="row1">
                            <td>Mała paczka (15x40x70 cm, do 15kg)</td>
                            <td>15 PLN</td>
                        </tr>
                        <tr id="row2">
                            <td>Średnia paczka (20x45x80 cm, do 25kg)</td>
                            <td>19 PLN</td>
                        </tr>
                        <tr id="row3">
                            <td>Duża paczka (40x60x100 cm, do 50kg)</td>
                            <td>24 PLN</td>
                        </tr>
                        <tr id="row4">
                            <td>Maxi paczka (100x100x150 cm, do 100kg)</td>
                            <td>44 PLN</td>
                        </tr>
                        <tr id="row5">
                            <td>Przesyłka ekspresowa - dostawa do 48h</td>
                            <td>14 PLN</td>
                        </tr>
                        <tr id="row6">
                            <td>Dodatkowe ubezpieczenie do 10 000 PLN</td>
                            <td>9 PLN</td>
                        </tr>
                        <tr id="row7">
                            <td>Wysyłka 10 paczek (1 miesiąc)</td>
                            <td>150 PLN</td>
                        </tr>
                        <tr id="row8">
                            <td>Wysyłka 20 paczek (1 miesiąc)</td>
                            <td>300 PLN</td>
                        </tr>
                        <tr id="row9">
                            <td>Wysyłka do 2 paczek dziennie w dni robocze (1 miesiąc)</td>
                            <td>750 PLN</td>
                        </tr>
                        <tr id="row10">
                            <td>Wysyłka do 5 paczek dziennie w dni robocze (1 miesiąc)</td>
                            <td>1600 PLN</td>
                        </tr>
                        <tr id="row11">
                            <td>Nielimitowane wysyłanie paczek (1 miesiąc)</td>
                            <td>2400 PLN</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
        <footer>
            <p class="footer-inline left">&copy; 2020 Paweł Skiba</p>
            <p class="footer-inline right">proudly powered by Vim</p>
        </footer>
    </body>
</html>
