<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>P&P Delivery</title>
        <meta charset="utf-8">
        <link href="/static/styles/style_1.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Cambay&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <header>
            <img class="logo" src="/static/images/logo.png" alt="logo">
            <h1 class="h1-title">POST&PARCEL DELIVERY</h1>
        </header>
        <div class="main-container">
            <h1>Moduł zarządzający listami przewozowymi!</h1>        
        </div>
        <footer>
            <p class="footer-inline left">&copy; 2020 Paweł Skiba</p>
            <p class="footer-inline right">proudly powered by Vim</p>
        </footer>
    </body>
</html>
