<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>P&P Delivery</title>
        <meta charset="utf-8">
        <link href="/static/styles/style_2.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Cambay&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script src="/static/scripts/login.js"></script>
    </head>
    <body>
        <header>
            <img class="logo" src="/static/images/logo.png" alt="logo">
            <h1 class="h1-title">POST&PARCEL DELIVERY</h1>
            <nav>
                <ul>
                    <li><a class="a-title" href="/home/">STRONA GŁÓWNA</a></li>
		            <li><a class="a-title" href="/register/">REJESTRACJA</a></li>
		            <li><a class="a-title" href="/login/">LOGOWANIE</a></li>
                </ul>
            </nav>
        </header>
        <div class="main-container">

            <h3>Zaloguj się</h3>
            <hr>
            <form id="login-form" class="login-form">

                <div class="form-row">
                    <label for="login" class="required">Login</label>
                    <input id="login" type="text" name="login" placeholder="Login"/>
                </div>

                <div class="form-row">
                    <label for="password" class="required">Hasło</label>
                    <input id="password" type="password" name="password" placeholder="Hasło"/>
                </div>

                <div class="form-row">
                    <input id="button-login-form" type="submit" value="Zaloguj się"/>
                </div>

            </form>
        </div>
        <footer>
            <p class="footer-inline left">&copy; 2020 Paweł Skiba</p>
            <p class="footer-inline right">proudly powered by Vim</p>
        </footer>
    </body>
</html>
