<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>P&P Delivery</title>
        <meta charset="utf-8">
        <link href="styles/style.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Cambay&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script src="scripts/register.js"></script>
    </head>
    <body>
        <header>
            <img class="logo" src="images/logo.png" alt="logo">
            <h1>POST&PARCEL DELIVERY</h1>
            <nav>
                <ul>
                    <li><a href="/">STRONA GŁÓWNA</a></li>
		            <li><a href="/registration">REJESTRACJA</a></li>
		            <li><a href="/login">LOGOWANIE</a></li>
                </ul>
            </nav>
        </header>
        <div class="main-container">

            <h3>Dane osobiste</h3>
            <hr>
            <form id="registration-form" class="registration-form">

                <div class="form-row">
                    <label for="name" class="required">Imię</label>
                    <input id="name" type="text" name="name" placeholder="Imię"/>
		        </div>
		        <div class="form-row">
                    <label for="surname" class="required">Nazwisko</label>
                    <input id="surname" type="text" name="surname" placeholder="Nazwisko"/>
                </div>

                <div class="form-row">
                    <label for="pesel" class="required">Pesel</label>
                    <input id="pesel" type="text" name="pesel" placeholder="Pesel"/>
		        </div>
		        <div class="form-row">
                    <label for="date_of_birth" class="required">Data urodzenia</label>
                    <input id="date_of_birth" type="text" name="date_of_birth" placeholder="DD/MM/YYYY"/>
                </div>

                <h3>Adres zamieszkania</h3>
                <hr>

                <div class="form-row">
                    <label for="street" class="required">Ulica</label>
                    <input id="street" type="text" name="street" placeholder="Ulica"/>
		        </div>
		        <div class="form-row">
                    <label for="number" class="required">Numer</label>
                    <input id="number" type="text" name="number" placeholder="Numer"/>
                </div>

                <div class="form-row">
                    <label for="postal_code" class="required">Kod pocztowy</label>
                    <input id="postal_code" type="text" name="postal_code" placeholder="DD-DDD"/>
		        </div>
		        <div class="form-row">
                    <label for="city" class="required">Miasto</label>
                    <input id="city" type="text" name="city" placeholder="Miasto"/>
                </div>

                <div class="form-row">
                    <label for="country" class="required">Kraj</label>
                    <input id="country" type="text" name="country" placeholder="Kraj"/>
                </div>

                <h3>Dane aplikacji</h3>
                <hr>

                <div class="form-row">
                    <label for="login" class="required">Login</label>
                    <input id="login" type="text" name="login" placeholder="Login"/>
                </div>

                <div class="form-row">
                    <label for="password" class="required">Hasło</label>
                    <input id="password" type="password" name="password" placeholder="Hasło"/>
                </div>

                <div class="form-row">
                    <label for="second_password" class="required">Powtórz hasło</label>
                    <input id="second_password" type="password" name="second_password"placeholder="Powtórz hasło"/>
                </div>

                <div class="form-row">
                    <input id="button-registration-form" type="submit" value="Zarejestruj się"/>
                </div>

            </form>
        </div>
        <footer>
            <p class="footer-inline left">&copy; 2020 Paweł Skiba</p>
            <p class="footer-inline right">proudly powered by Vim</p>
        </footer>
    </body>
</html>
