<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>P&P Delivery</title>
        <meta charset="utf-8">
        <link href="styles/style.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Cambay&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script src="scripts/register.js"></script>
    </head>
    <body>
        <header>
            <img class="logo" src="images/logo.png" alt="logo">
            <h1>POST&PARCEL DELIVERY</h1>
            <nav>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/register">REGISTRATION</a></li>
                </ul>
            </nav>
        </header>
        <div class="registration">

            <h3>Zarejestruj się</h3>
            <hr>
            <form id="registration-form" class="registration-form">

                <div class="form-row">
                    <label for="login" class="required">Login</label>
                    <input id="login" type="text" name="login"/>
                </div>

                <div class="form-row">
                    <label for="pesel" class="required">PESEL</label>
                    <input id="pesel" type="text" name="pesel"/>
                </div>

                <div class="form-row">
                    <label for="password" class="required">Hasło</label>
                    <input id="password" type="password" name="password"/>
                </div>

                <div class="form-row">
                    <label for="second_password" class="required">Powtórz hasło</label>
                    <input id="second_password" type="password" name="second_password"/>
                </div>

                <div class="form-row">
                    <input id="button-reg-form" type="submit" value="Rejestruj"/>
                </div>

            </form>
        </div>
        <footer>
            <p class="footer-inline left">&copy; 2020 Paweł Skiba</p>
            <p class="footer-inline right">proudly powered by Vim</p>
        </footer>
    </body>
</html>
