<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>P&P Delivery</title>
        <meta charset="utf-8">
        <link href="styles/style_2.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Cambay&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script src="scripts/script_user_homepage.js"></script>
    </head>
    <body>
        <header>
            <img class="logo" src="images/logo.png" alt="logo">
            <h1 class="h1-title">POST&PARCEL DELIVERY</h1>
            <nav>
                <ul>
                    <li><a class="a-title" href="/user_homepage">MOJE PACZKI</a></li>
		            <li><a class="a-title" href="/add_package">NADAJ PACZKĘ</a></li>
		            <li><a class="a-title" href="/logout">WYLOGUJ</a></li>
                </ul>
            </nav>
        </header>
        <div class="main-container">

            <h2>Moje paczki</h2>

            <h3>Nadane paczki</h3>
            <hr>

            <h3>Podusmowanie</h3>
            <hr>
            <section>
                <h4>Liczba wysłanych paczek</h4>
            </section>
        </div>
        <footer>
            <p class="footer-inline left">&copy; 2020 Paweł Skiba</p>
            <p class="footer-inline right">proudly powered by Vim</p>
        </footer>
    </body>
</html>
