html, body {
    height: 100%;
}

body {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 150px;
    background-image: url('/static/images/background_2.png');
}

input {
    margin-bottom: 20px;
}

.form-login {
    width: 100%;
    max-width: 350px;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
}

.form-login .form-control {
    height: auto;
    padding: 10px;
    font-size: 16px;
}

form {
    background-color: lightgray;
}

#alert-div {
    max-width: 350px;
    margin: auto;
}