nav {
    background-color: #DEB887;
}

a {
    text-align: center;
    color: #000000;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

li {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

a:hover {
    color: #FFFFFF;
    transition: 0.5s;
}

hr {
    width: 100%;
}

img {
    margin-left: 10px;
    margin-right: 10px;
}

body {
    background-image: url('../images/background_2.png');
}

.container {
    margin-top: 20px;
}

h3 {
    padding-bottom: 80px;
}

h4 {
    padding-bottom:20px;
}

button {
    color: burlywood;
}

input {
    margin-bottom: 20px;
}

#submit-button {
    margin-top: 40px;
    margin-bottom: 20px;
}

.hr-border {
    border: 1px solid black;
    margin-top: 100px;
    max-width: 600px;
}

.h3-head {
    margin-top: 50px;
}

#passon-package-form, #get-token-form {
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#alert-div-1, #alert-div-2 {
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    word-break: break-all;
}