body {
    background: url("../images/background_1.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 46px;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 96px;
    background-color: burlywood;
}

section {
    margin-top: 50px;
}

.h1-title {
    position: fixed;
    float: left;
    text-align: center;
    padding-left: 150px;
    color: #000000;
    font-size: 1.4vw;
}

ul {
    width: auto;
    float: right;
    margin-top: 20px;
}

li {
    display: inline-block;
    padding: 15px 30px;
}

.a-title {
    text-align: center;
    color: #000000;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
}

a:hover {
    color: #ffffffff;
    transition: 0.5s;
}

.logo {
    position: absolute;
    float: left;
    margin-left: 2%;
    margin-top: 5px;
    width: 86px;
    height: 86px;
}

.main-container {
    padding-top: 130px;
    max-width: 1024px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Cambay', sans-serif;
}

.color-table {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.color-table td {
    border: 2px solid black;
}

.color-table tr:nth-child(odd) {
    background-color: #DCDCDC;  
}

.color-table tr:nth-child(even) {
    background-color: #FFEFD5;
}

.color-table thead tr {
    background-color: burlywood !important;
}

.thead_table {
    text-align: center;
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: burlywood;
    max-width: inherit;
    width: 100%;
    height: 46px;
    font-size: 15px;
}

.footer-inline {
    display: inline-block;
    width: 48%;
    padding-left: 1%;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}
